body {
	font-family: "PT Sans";
	font-weight: 400;
	font-size: 14px;
	overflow-x: hidden;
}

.container {
	width: 1170px;
	height: 100%;
	margin: 0 auto;
}

.header-up__wrapper {
	height: 44px;
	// max-height: 5vh;
	background-color: #000;
	.header-up {
		display: flex;
		justify-content: space-between;
		align-items: center;

		height: 100%;

		font-size: 12px;
		color: gray;

		.header-up__left {
			& span::before {
				content: "|";

				margin: 0 14px;
			}

			.tel::before {
				content: url("../img/phone.svg");
				position: relative;
				top: 5px;
				right: 0;
			}
		}
		.header-up__right {
			& span:first-child::before {
				content: url("../img/log-in.svg");
				position: relative;
				top: 3px;
				margin-right: 14px;
			}
		}
		// для всех ссылок в header-up
		a {
			color: gray;
			text-decoration: none;
		}
	}
}

.header-down__wrapper {
	height: 80px;
	// max-height: 10vh;
	background-color: #0f0f0f;
	.header-down {
		display: flex;
		justify-content: space-between;
		align-items: center;

		height: 100%;

		&__left,
		&__right {
			display: flex;
			align-items: center;
			height: 100%;
		}

		&__logo {
			font-family: "Montserrat";
			font-size: 36px;
			font-weight: 700;
		}

		&__navs {
			display: flex;

			li a {
				font-size: 14px;
				padding: 30px;
				color: gray;
				transition: background-color 0.3s linear;
			}

			li a:hover {
				background-color: gray;
				color: white;
			}
		}

		&__shop-icon {
			margin: 0 40px;
		}
		a {
			color: white;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}

.intro {
	background-image: url("../img/intro.jpg");
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	width: 100vw;
	height: 80.2vh;

	color: white;

	&__square {
		padding: 100px 25px;
		border: 4px solid white;
	}

	&__text {
		width: 730px;
		height: 100px;

		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
	}
	&__logo {
		font-family: "Montserrat";
		font-size: 64px;
		font-weight: 700;
		text-transform: uppercase;
		border-bottom: 2px solid white;

		margin-bottom: 20px;
	}

	&__location {
		font-size: 22px;
		text-transform: uppercase;
		text-align: center;
	}
}
