body {
	font-family: "PT Sans";
	font-weight: 400;
	font-size: 14px;
	overflow-x: hidden;
	color: white;
}

.container {
	max-width: 1170px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.header-up__wrapper {
	height: 44px;
	// max-height: 5vh;
	background-color: #000;
	.header-up {
		display: flex;
		justify-content: space-between;
		align-items: center;

		height: 100%;

		font-size: 12px;
		color: gray;

		.header-up__left {
			& span::before {
				content: "|";

				margin: 0 14px;
			}

			.tel a {
				position: relative;
			}

			.tel::before {
				content: url("../img/phone.svg");
				position: relative;
				top: 5px;
				right: 0;
			}

			.tel a::after {
				content: "";
				position: absolute;
				left: 0;
				top: 110%;
				opacity: 0;

				height: 1px;
				width: 100%;
				background-color: white;

				transition: opacity 0.3s linear;
			}

			.tel a:hover::after {
				opacity: 1;
			}
		}
		.header-up__right {
			& span:first-child::before {
				content: url("../img/log-in.svg");
				position: relative;
				top: 3px;
				margin-right: 14px;
			}

			& span a {
				position: relative;
				&::after {
					content: "";
					left: 0;
					top: 110%;

					position: absolute;
					height: 1px;
					width: 100%;
					background-color: white;
					opacity: 0;
					transition: opacity 0.3s linear;
				}
				&:hover::after {
					opacity: 1;
				}
			}
		}
		// для всех ссылок в header-up
		a {
			color: gray;
			text-decoration: none;
		}
	}
}

.header-down__wrapper {
	height: 80px;
	// max-height: 10vh;
	background-color: #0f0f0f;
	.header-down {
		display: flex;
		justify-content: space-between;
		align-items: center;

		height: 100%;

		&__left,
		&__right {
			display: flex;
			align-items: center;
			height: 100%;
		}

		&__logo {
			font-family: "Montserrat";
			font-size: 36px;
			font-weight: 700;
			position: relative;

			&::after {
				height: 2px;
				width: 100%;
				background-color: #fff;
				opacity: 0;
				position: absolute;
				left: 0;
				top: 110%;

				content: "";

				transition: opacity 0.5s linear;
			}
			&:hover::after {
				opacity: 1;
			}
		}

		&__navs {
			display: flex;

			li a {
				font-size: 14px;
				padding: 30px;
				color: gray;
				transition: background-color 0.3s linear;
			}

			li a:hover {
				background-color: gray;
				color: white;
			}
		}

		&__shop {
			margin: 0 40px;
		}

		&__shop:hover,
		&__find:hover {
			padding: 3px;

			border-radius: 100%;
			background-color: gray;
			color: white;
		}
		a {
			color: white;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}

.intro {
	background-image: url("../img/intro.jpg");
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;

	height: 80.2vh;

	color: white;

	&__inner-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	&__square {
		margin-top: 50px;
		padding: 90px 45px;
		border: 4px solid white;
	}

	&__text {
		width: 730px;
		height: 100px;

		margin-top: 50px;

		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
	}
	&__logo {
		font-family: "Montserrat";
		font-size: 46px;
		font-weight: 700;
		text-transform: uppercase;
		position: relative;

		&::after {
			position: absolute;
			content: "";
			left: 0;
			top: 60px;
			height: 2px;
			width: 100%;
			background-color: #fff;
		}
	}

	&__location {
		font-size: 22px;
		text-transform: uppercase;
		text-align: center;

		margin-top: 30px;
	}
}

.new-collection {
	font-family: "Playfair Display";
	color: white;
	display: flex;
	height: 79.5vh;
	width: 100vw;
	&__left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 122%;
		height: 100%;
		background-color: black;
	}

	.new-collection__title {
		font-size: 36px;
		font-weight: 700;
	}

	&__right {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;

		width: 100%;
		height: 100%;

		background-image: url("../img/new-collection.jpg");
		background-repeat: no-repeat;
		background-size: contain;

		.new-collection__title {
			text-transform: uppercase;
			position: relative;
			&::after {
				position: absolute;
				content: "";
				left: 30%;
				top: 200%;
				width: 150px;
				height: 3px;
				background-color: #fff;
			}
		}

		.btn-catalog {
			border: 1px solid white;
			font-size: 18px;
			width: 100px;
			padding: 11px 7px;
			color: white;
			background-color: transparent;
			margin-top: 100px;
			margin-bottom: 50px;
			cursor: pointer;
			transition: color 0.3s linear, background-color 0.3s linear;
			&:hover {
				background-color: white;
				color: black;
			}
		}
	}
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
	&__item {
		display: flex;
		flex-direction: column;
		width: 25%;
		&-img {
			margin: 45px 10px;
			padding: 45px 10px;
			background-color: #191b1c;
			transition: background-color 0.3s linear;
		}
		& div {
			display: flex;
			flex-direction: column;
			align-items: center;
			transition: color 0.3s linear;
		}

		&:hover {
			$self: ".products__item";

			#{ $self }-img {
				background-color: gray;
			}
			#{ $self }-text {
				color: red;
			}
		}
	}
}

.old-collection {
	color: white;
	display: flex;
	// width: 100vw;
	height: 58.9vh;

	&__left {
		width: 40%;
		height: 100%;
		background-image: url("../img/suit.jpg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 0;
	}
	&__right {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 60%;
		height: 100%;
		background-color: #000;

		font-size: 14px;
		font-weight: 400;
	}
	&__title {
		font-family: "Playfair Display";
		font-size: 36px;
		text-transform: uppercase;
		position: relative;
		&::after {
			content: "";
			top: 100%;
			left: 0;
			position: absolute;
			height: 1px;
			width: 40%;
			background-color: #fff;
			margin-top: 50px;
			margin-bottom: 50px;
			margin-left: 100px;
		}
	}
	&__text {
		width: 470px;
		text-align: center;
	}
	&__btn {
		color: white;
		background-color: transparent;
		padding: 10px 15px;
		transition: color 0.3s linear, background-color 0.3s linear;
		border: 1px solid white;
		text-transform: uppercase;
		&:hover {
			color: black;
			background-color: #fff;
		}
	}
}

.new-products {
	color: white;
	background-color: #000;

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		width: 1170px;
		margin: 0 auto;
	}

	&__title {
		font-family: "Playfair Display";
		font-size: 36px;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 50px;
		position: relative;
		&:after {
			position: absolute;
			content: "";
			top: 100%;
			left: 0;
			background-color: white;
			width: 33.3%;
			height: 1px;
			margin-left: calc((100% - 33.33%) / 2);
			margin-top: 30px;
		}
	}
	.products {
		margin-top: 40px;
		margin-bottom: 50px;
		.products__item {
			width: inherit;
		}
	}
}

.our-brands {
	&__wrapper {
		background-color: #0f0f0f;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		font-family: "Playfair Display";
		font-size: 36px;
		font-weight: 700;
		text-transform: uppercase;
		color: white;
		position: relative;
		margin-top: 30px;
		&:after {
			position: absolute;
			content: "";
			top: 100%;
			left: 0;
			width: 50%;
			height: 1px;
			background-color: #fff;
			margin-left: calc((100% - 50%) / 2);
			margin-top: 40px;
		}
	}
	&__brands {
		display: flex;
		justify-content: center;
		margin-top: 50px;
		cursor: pointer;
	}
}

.info {
	background-image: url("../img/glass.jpg");
	height: 400px;
	&__wrapper {
		display: flex;
		justify-content: space-around;
		max-width: 1170px;
		margin: 0 auto;
	}
	&__about,
	&__categories,
	&__mail {
		display: flex;
		flex-direction: column;
		max-width: 350px;
	}

	&__title {
		font-family: "Playfair Display";
		font-size: 24px;
		text-transform: uppercase;
		margin-top: 70px;
		margin-bottom: 35px;
	}
	&__buttons .btn {
		padding: 18px;
		background-color: #0f0f0f;
		color: lightgray;
		cursor: pointer;
		text-transform: uppercase;
		border: 0;
		margin-top: 15px;
		transition: background-color 0.3s linear, color 0.3s linear;
		&:hover {
			background-color: lightgray;
			color: #0f0f0f;
		}
	}
	&__subscribe {
		margin-top: 20px;
		input[type="text"] {
			padding-left: 15px;
			height: 42px;
			width: 60%;
			background-color: lightgray;
		}
		input[type="submit"] {
			padding: 18px;
			background-color: #0f0f0f;
			color: lightgray;
			border: 0;
			transition: background-color 0.3s linear, color 0.3s linear;
			&:hover {
				background-color: lightgray;
				color: #0f0f0f;
			}
		}
	}
}

.footer {
	height: 100%;
	&__wrapper {
		height: 50px;

		background-color: #0f0f0f;
		margin: 0 auto;
	}
	width: 1170px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
